body{
    background-color: black;
    font-family: 'amita';
}
#gameoutframe{
    border-style: outset;
    border-width: 14px;
    border-radius: 60px;
    background-image: url(../../pictures/picidraw/mainbackground.png);
    background-repeat: no-repeat;
    width: 1187px;
    height: 780px;
    border-color: #888888;
    margin-bottom: auto;
    text-shadow: -2px 2px #944D4D;
    font-family: 'amita';
    font-weight: bold;
}

#startscrn{
    background-image: url(../../pictures/onlinepictures/frame4.png);
    width: 1187px;
    height: 780px;
    margin-bottom: auto;
    border-radius: 45px;
    background-repeat: no-repeat;
    text-shadow: -2px 2px #944D4D;
}

#storyscrn{
    background-image: url(../../pictures/onlinepictures/frame4.png);
    width: 1187px;
    height: 780px;
    margin-bottom: auto;
    border-radius: 45px;
    background-repeat: no-repeat;
    text-shadow: -2px 2px #944D4D;
}

#dramascrn{
    background-image: url(../../pictures/onlinepictures/frame4.png);
    width: 1187px;
    height: 780px;
    margin-bottom: auto;
    border-radius: 45px;
    background-repeat: no-repeat;
    text-shadow: -2px 2px #944D4D;
}

#popupbox{
    background-image: url(../../pictures/onlinepictures/textbox.gif);
    position: absolute;
    top: 560px;
    left: 100px;
    width: 1000px;
    height: 200px;
    z-index: 1;
}

#ays{
    position: absolute;
    top: 20px;
    left:60px;
    font-size: 36px;
    width: 600px;
}

#ngu{
    position: absolute;
    top: 20px;
    left:60px;
    font-size: 36px;
    width: 600px;
}

.popup1btn11{
    text-decoration: underline;
    position: absolute;
    font-size: 26px;
    top: 30px;
    left: 660px;
    font-weight: bold;
    font-family: "amita";
    text-shadow: -2px 2px #944D4D;
    border: none;
    background: none;
    opacity: 0.6;
}

.popup1btn22{
    text-decoration: underline;
    position: absolute;
    font-size: 26px;
    top: 80px;
    left: 660px;
    font-weight: bold;
    font-family: "amita";
    text-shadow: -2px 2px #944D4D;
    border: none;
    background: none;
    opacity: 0.6;
}

.btntyp1{
    font-size: 50px;
    font-weight: bold;
    height: 80px;
    width: 300px;
    background-image: url(../../pictures/picidraw/box.png);
    background-color: #000000;
    opacity: 0.8;
    border-radius: 60px;
    border-style: dashed;
    border-bottom-width: 8px;
    border-color: #333333;
    font-family: "amita";
}

#startbtn{
    position: absolute;
    top:480px;
    left: 100px;
}

#loadbtn{
    position: absolute;
    top: 580px;
    left: 100px;
}

#giveupbtn{
    position: absolute;
    top:680px;
    left: 100px;
}

#skipbtn{
    text-shadow: -2px 2px #944D4D;
    font-size: 30px;
    font-weight:bolder;
    font-family: "amita";
    position: absolute;
    left: 80px;
    top: 60px;
    border: none;
    opacity: 0.4;
    background: none;
}

#thestory{
    color: white;
    background-color: black;
    font-size: 26px;
    position:absolute;
    top: 340px;
    left: 350px;
    opacity: 0.8;
    font-family: 'amita';
    width: 500px;
}