body {color: black;
    background-color: white;
    background-image: url("https://assets.vg247.com/current//2017/06/Ancient_Forest.jpg"); 
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    position: absolute;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 20%;
}

a {color: darkblue;
    font-family: fantasy;
}  

p {background-color: white;
    font-family: fantasy;
}