body{
    background-color: black;
}

#gamescreen{
    border-style: outset;
    border-width: 14px;
    border-color: gray;
    border-radius: 60px;
    background-image: url(../onlinepictures/frame4.png);
    background-repeat: no-repeat;
    width: 1187px;
    height: 780px;
    position: fixed;
    left: 5px;
    background-color: #cccccc;
    top: 5px;
}

#setting{
    position: absolute;
    right: 80px;
    top: 60px;
    background-color: #aaaaaa;
    border: none;
}