body{
    background-color: black;
}

#gamescreen{
    border-style: outset;
    border-width: 14px;
    border-color: gray;
    border-radius: 60px;
    background-image: url(../onlinepictures/frame4.png);
    background-repeat: no-repeat;
    width: 1187px;
    height: 780px;
    position: fixed;
    left: 5px;
    background-color: #cccccc;
    top: 5px;
}

#startbutton{
    text-shadow: -2px 2px #944D4D;
    font-size: 40;
    font-weight:bolder;
    font-family: "Times New Roman";
    position: fixed;
    bottom:250px;
    left: 100px;
    height: 60;
    width: 320;
    background-image: url(../picidraw/box.png);
    background-color: #000000;
    opacity: 0.8;
    border-radius: 20px;
    border-style: dashed;
    border-bottom-width: 6px;
    border-color: #333333;
}

#giveupbt{
    text-shadow: -2px 2px #944D4D;
    font-size: 40;
    font-weight:bolder;
    font-family: "Times New Roman";
    position: fixed;
    bottom:100px;
    left: 100px;
    height: 60;
    width: 320;
    background-image: url(../picidraw/box.png);
    background-color: #000000;
    opacity: 0.8;
    border-radius: 20px;
    border-style: dashed;
    border-bottom-width: 6px;
    border-color: #333333;
}

#loadbutton{
    text-shadow: -2px 2px #944D4D;
    font-size: 40;
    font-weight:bolder;
    font-family: "Times New Roman";
    position: fixed;
    bottom:175px;
    left: 100px;
    height: 60;
    width: 320;
    background-image: url(../picidraw/box.png);
    background-color: #000000;
    opacity: 0.8;
    border-style: dashed;
    border-bottom-width: 6px;
    border-radius: 20px;
    border-color: #333333;
}