body{
    background-color: black;
}

#gamescreen{
    border-style: outset;
    border-width: 14px;
    border-color: gray;
    border-radius: 60px;
    background-image: url(../../pictures/onlinepictures/frame4.png);
    background-repeat: no-repeat;
    width: 1187px;
    height: 780px;
    background-color: #eeeeee;
    margin-bottom: auto;
}

#setting{
    position: absolute;
    right: 300px;
    top: 80px;
    background-color: #aaaaaa;
    border: none;
    background: none;
}