body{
    background-color: black;
}

#gamescreen{
    border-style: outset;
    border-width: 14px;
    border-color: gray;
    border-radius: 60px;
    background-image: url(../../pictures/onlinepictures/frame4.png);
    background-repeat: no-repeat;
    width: 1187px;
    height: 780px;
    margin-bottom: auto;
    background-color: #eeeeee;
}

#basic4data{
    text-shadow: -2px 2px #944D4D;
    color: #242424;
    font-size: 25;
    width: 600px;
    height: 70px;
    margin-bottom: auto;
    position: absolute;
    top: 740px;
    left: 50px;
    font-weight:bolder;
    opacity: 0.6;
    font-family: "Times New Roman";
}

#water{
    position: absolute;
}

#food{
    position: absolute;
    bottom: 80px;
}

#stone{
    position: absolute;
    left: 220px;
}

#wood{
    position: absolute;
    left: 220px;
    bottom: 80px;
}

#basic6button{
    opacity: 0.8;
    background-image: url(../../pictures/onlinepictures/frame5.png);
    text-align: center;
    font-size: 50;
    width: 480;
    height: 275;
    position: absolute;
    left: 660px;
    top:500px;
    
}

#charactorbt{
    height: 65px;
    width: 200px;
    border-style: outset;
    border-width: 6px;
    background-color: #909090;
    position: absolute;
    bottom: 180px;
    right: 250px;
    font-weight: bold;
    font-size: 35px;
    text-shadow: -2px 2px #944D4D;
    font-family: "Times New Roman";
}

#teambt{
    height: 65px;
    width: 200px;
    border-style: outset;
    border-width: 6px;
    background-color: #909090;
    position: absolute;
    right: 25px;
    bottom: 180px;
    font-weight: bold;
    font-size: 35px;
    text-shadow: -2px 2px #944D4D;
    font-family: "Times New Roman";
}

#actionbt{
    height: 65px;
    width: 200px;
    border-style: outset;
    border-width: 6px;
    background-color: #909090;
    position: absolute;
    right: 250px;
    bottom: 100px;
    font-weight: bold;
    font-size: 35px;
    text-shadow: -2px 2px #944D4D;
    font-family: "Times New Roman";
}

#sleepbt{
    height: 65px;
    width: 200px;
    border-style: outset;
    border-width: 6px;
    background-color: #909090;
    position: absolute;
    bottom: 100px;
    right: 25px;
    font-weight: bold;
    font-size: 35px;
    text-shadow: -2px 2px #944D4D;
    font-family: "Times New Roman";
}

#backpackbt{
    height: 65px;
    width: 200px;
    border-style: outset;
    border-width: 6px;
    background-color: #909090;
    position: absolute;
    right: 250px;
    bottom: 25px;
    font-weight: bold;
    font-size: 35px;
    text-shadow: -2px 2px #944D4D;
    font-family: "Times New Roman";
}

#settingbt{
    height: 65px;
    width: 200px;
    border-style: outset;
    border-width: 6px;
    background-color: #909090;
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-weight: bold;
    font-size: 35px;
    text-shadow: -2px 2px #944D4D;
    font-family: "Times New Roman";
}

#charactor{
    position: 
}

#ap{
    height: 80px;
    width: 600px;
    position: absolute;
    top: 60px;
    left: 80px;
}

#actionpoint{
    text-shadow: -2px 2px #944D4D;
    color: #242424;
    font-size: 45px;
    font-weight:bolder;
    opacity: 0.6;
    font-family: "Times New Roman";
}

