body{
    background-color: black;
}

#gamescreen{
    border-style: outset;
    border-width: 14px;
    border-color: gray;
    border-radius: 60px;
    background-image: url(../../pictures/onlinepictures/frame4.png);
    background-repeat: no-repeat;
    width: 1187px;
    height: 780px;
    background-color: #eeeeee;
    margin-bottom: auto;
}

#skip{
    text-shadow: -2px 2px #944D4D;
    font-size: 30px;
    font-weight:bolder;
    font-family: "Times New Roman";
    position: absolute;
    left: 80px;
    top: 60px;
    border: none;
    opacity: 0.4;
    background: none;
}